<div class="footer">
     <div class="footer-inner">
          <div class="container">
               <div class="row">
                    <div class="span3">
                         <li><a href="javascript:;">Name: LÊ BÌNH KHANG</a></li>
                    </div>
                    <div class="span3">
                         <li><a href="javascript:;">Email: binhkhang315@gmail.com</a></li>
                    </div>
                    <div class="span3">
                         <li><a href="javascript:;">Mobile: 01692348042</a></li>
                    </div>
                    <div class="span3">
                         <li><a href="javascript:;">Facebook: facebook.com/binhkhang315</a></li>
                    </div>
               </div>

               <!-- /row -->
          </div>
          <!-- /container -->
     </div>
     <!-- /footer-inner -->
</div>
<!-- /footer -->
