
<nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation" >
    <div class="container container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#loginNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-home" href="/#home">
                <img class="navbar-logo img-responsive" width="95px">
                <a id="homepageid" class="navbar-name" href="/#home">Thuc Tap Tot Nghiep</a>
            </a>
        </div>

        <div class="collapse  navbar-collapse" id="loginNavbar">
            <ul class="nav navbar-nav navbar-right" style="margin-top: 8px;">
                <li>
                    <a href="#view_image">View Image</a>
                </li>
                <li>
                    <a href="#upload_image">Upload Image</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
